In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("tested.csv")

In [4]:
df['Embarked']

0      Q
1      S
2      Q
3      S
4      S
      ..
413    S
414    C
415    S
416    S
417    C
Name: Embarked, Length: 418, dtype: object

In [5]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [6]:
def summary(df):
    sum = pd.DataFrame(df.dtypes, columns=['dtypes'])
    sum['missing#'] = df.isna().sum().values
    sum['missing%'] = (df.isna().sum().values*100)/len(df)
    sum['uniques'] = df.nunique().values
    sum['count'] = df.count().values
    desc = pd.DataFrame(df.describe().T)
    sum['min'] = desc['min']
    sum['max'] = desc['max']
    sum['mean'] = desc['mean']
    return sum

summary(df).style.background_gradient(cmap='twilight_shifted_r')

In [7]:
df.drop(columns = 'Cabin', inplace = True)

In [8]:
summary(df).style.background_gradient(cmap='twilight_shifted_r')

In [9]:
df["Age"].fillna(df["Age"].mean(), inplace = True)

In [11]:
df["Fare"].fillna(df["Fare"].mean(), inplace = True)

In [12]:
summary(df).style.background_gradient(cmap='twilight_shifted_r')

In [13]:
df.drop(columns = ["Name", "PassengerId"], inplace = True)

In [14]:
summary(df).style.background_gradient(cmap='twilight_shifted_r')

In [15]:
df.drop(columns = ["Ticket"], inplace = True)

In [16]:
summary(df).style.background_gradient(cmap='twilight_shifted_r')